@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "ASP.NET Counterpart to NFX.Wave Framework Performance Test - JSON Echo";
}

<h3>Fill data and submit the form to run the JSON echo test:</h3>
<form id="frm" enctype='application/json' action="/Backend/echojson" method="post">
    First name: <input type="text" name="data.firstname"><br>
    Last name:  <input type="text" name="data.lastname">
    <input type="submit" value="Submit">
</form>

