@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "ASP.NET Counterpart to NFX.Wave Framework Performance Test";
}

<br />
<table>
    <tr><td> <a href="/Test/Echo">Echo page</a> </td></tr>
    <tr><td><a href="/Test/EchoJson">JSON echo page</a></td></tr>
    <tr><td><a href="/Test/RandomPerson">Template engine test page</a></td></tr>
    <tr><td><a href="/Test/RandomPersonSimple">Template engine test - a minimalistic extremely lightweight page</a></td></tr>

    <tr><td><h3>Other URLs to run tests:</h3><br /></td></tr>

    <tr><td><a href="/Backend/RandomPerson">&lt;site root&gt;/Backend/RandomPerson</a> - returns a JSON representation of randomly generated Person object</td></tr>
    <tr><td><a href="/Backend/RandomPayload?length=1000">&lt;site root&gt;/Backend/RandomPayload?length=&lt;integer number&gt;</a> - returns a random string of specified length</td></tr>
    <tr><td><a href="/Backend/Echo?data=abcdefg">&lt;site root&gt;/Backend/Echo?data=&lt;any string&gt;</a> - returns a simple string echo of string that was sent as the parameter</td></tr>
</table>


